{% extends 'main/header.html' %}
{% block content %}
    
    {% for message in messages %}
        <div class="alert alert-danger" role="alert">
            {{message}}
        </div>
    {% endfor %}

    <div class="container mt-5 p-5 border rounded border-dark bg-white">
        <h2><i class="fa fa-envelope" aria-hidden="true"></i> Send mail</h2>
        <br>

        <form action="sendmail/" method="post" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="form-group">
                <label for="subject">Subject:</label>
                <input type="text" class="form-control" id="subject" name="subject" required>
            </div>

            <div class="form-group">
                <label for="body">Message body:</label>
                <input type="text" class="form-control" id="body" name="body" required>
            </div>

            <br>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
{% endblock %}