<!-- Footer -->
<footer class="text-center text-lg-start bg-white text-muted">
    <hr>
    <!-- Section: Links  -->
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold mb-4">
              <i class="fas fa-gem me-3 text-grayish"></i>De Boer Group
            </h6>
            <p>
              Uw complete supply chain slimmer en efficienter.
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Products
            </h6>
            <p>
              <a href="#!" class="text-reset">Furniture</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Clothing</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Electronics</a>
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Useful links
            </h6>
            <p>
              <a href="https://github.com/Tim-Bolhoeve" target="_blank" class="text-reset">Made by</a>
            </p>
            <p>
              <a href="https://github.com/TimBolhoeve-DBG/bestelapp" target="_blank" class="text-reset">Bestel app</a>
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
            <p><i class="fas fa-home me-3 text-grayish"></i> De Rijp, NH, Netherlands</p>
            <p>
              <i class="fas fa-envelope me-3 text-grayish"></i>
              tim.bolhoeve@deboer-group.com
            </p>
            <p><i class="fas fa-phone me-3 text-grayish"></i> +31 6 46435091</p>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->
  
    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.025);">
      © {% now 'Y' %} Copyright:
      <a class="text-reset fw-bold" href="https://deboer-group.com/">De Boer Group</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->