<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{% url 'index' %}">Webshop_logo</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'index' %}"><i class="fa fa-home" aria-hidden="true"></i> Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-list-alt" aria-hidden="true"></i> Items
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            {% for x in item %}
              {% ifchanged %}
                <a class="dropdown-item" href="#">{{ x.type }}</a>
              {% endifchanged %}
            {% endfor %}
          </div>
        </li>
        {% if user.is_authenticated %}
          {% if perms.page.add_item %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'additem' %}"><i class="fa fa-plus" aria-hidden="true"></i> Add item</a>
            </li>
          {% endif %}
        {% endif %}
    </ul>
    {% if user.is_authenticated %}
      <div class="my-2 my-lg-0">
        <li class="nav-item dropdown" style="list-style: none">
          <a class="nav-link dropdown-toggle btn btn-outline-dark my-2 my-sm-0" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-user" aria-hidden="true"></i> {{ user.username }}
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            {% if perms.user.can_delete_user %}
              <a class="dropdown-item" href="/admin">Admin portal</a>
              <div class="dropdown-divider"></div>
            {% endif %}
            <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
          </div>
        </li>
      </div>
    {% else %}
      <div class="my-2 my-lg-0">
        <a class="btn btn-outline-primary my-2 my-sm-0" href="{% url 'login' %}"><i class="fa fa-sign-in" aria-hidden="true"></i> Login</a>
      </div>
    {% endif %}
    </div>
  </nav>